<%- include('partials/header') %>
<div class="container mt-5">
  <h2>Transaction History</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% transactions.forEach(transaction => { %>
        <tr>
          <td><%= transaction.createdAt.toLocaleDateString() %></td>
          <td><%= transaction.type %></td>
          <td>
            <%= transaction.currency %> <%= transaction.amount %> <% if
            (transaction.paystackFee) { %> (Fee: <%= transaction.paystackFee %>)
            <% } %>
          </td>
          <td><%= transaction.status %></td>
          <td><%= transaction.description %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include('partials/footer') %>
